@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

*{
    margin: 0;
    padding: 0;
}

header {
    background-color: #B1A7A6;
    color: #660708;
    height: 20vh;
}

header h1 {
    font-size: 50px; 
    padding: 20px 0 0 20px;
    font-family: 'Lobster', cursive;
    display: inline;
    
}

.home-body {
    background-color: #F5F3F4;
    height: 80vh;
    display: flex;
    margin: auto;
    align-items: center;
    justify-content: center;
}

.home-body button {
    background-color: black;
    margin: 30px 60px auto 60px;
    border: none;
    height: 150px;
    width: 250px; 
    border-radius: 50%;
}

.homepage-links {
    text-decoration: none;
    font-size: 25px;
    color: white;
}

.home-content h2 {
    text-align: center;
    font-size: 40px;
}

.counter-nav {
    text-align: right;
   
}

.counter-links, .error-link {
    text-decoration: none;
    color: #D3D3D3;
    margin: 20px;
    font-size: 25px;
    border-radius: 30%;
    padding: 15px;
    box-shadow: 0 5px 5px #4f4b4b, 0 -5px 5px #d0d0d0;
    background-color: #A4161A;
    /* background-image: linear-gradient(to right, rgb(38, 1, 1), red); */
}

.counter-body {
    background-color:  #F5F3F4;
    height: 80vh;
    text-align: center;
}

.counter-body h2, .error-page h1 {
    margin-bottom: 50px;
    font-size: 40px;
}

.counter-btns {
    display: flex;
    justify-content: center;
    height: 100px;
    margin-bottom: 60px;
    font-size: 30px;
}

.counter-btns p {
    padding: 40px;
    background-color: #D3D3D3;
    color: #161A1D;
    font-size: 30px;
    
}

.counter-btns button {
    padding: 40px;
    margin-bottom: 0.5px;
    background-color: #161A1D;
    /* border-radius: 10%; */
    border: none;
    font-size: 30px;
    cursor: pointer;
    color: white;
}


.left-button {
    border-bottom-left-radius: 40%;
    border-top-left-radius: 40%;
}

.right-button {
    border-bottom-right-radius: 40%;
    border-top-right-radius: 40%;
}

.counter-form input, button {
    background-color:#161A1D;
    /* padding: 20px; */
    font-size: 30px;
    border: none;
    margin-bottom: 40px;
    cursor: pointer;
    color: #d0d0d0;
}

.submit-btn {
    background-color: green;
    width: 200px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

.reset-btn {
    background-color: red;
    padding: 20px;
    border-radius: 20px;
}

.error-page {
    background-color:  #F5F3F4;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 30px;
}

